$logoTitleColor: #FFF;
$beforeColor:#ff4e33;
$sectionCardTextColor:#B7BFC7;
$sectionCardBackColor:#383d4f;
$buttonColor:#E3AC00;
$gradientFirstColor:#d79e07;
$gradientSecondColor:#97334e;
$imgBack:url(/img/m-h-night.jpg);
$mainBackColor:#1b1e2a;
$bannerTitle:#fff;
$fonts: (key1:'Hind', key2:'Source Sans Pro', key3:'Fresca');