$logoTitleColor: black;
$beforeColor:#0ca1c8;
$sectionCardTextColor:#B7BFC7;
$sectionCardBackColor:#21232e;
$buttonColor:#699900;
$gradientFirstColor:#649411;
$gradientSecondColor:#2a58de;
$imgBack:url(/img/m-h-day.jpg);
$mainBackColor:#fff;
$bannerTitle:#21232e;
$fonts: (key1:'Hind', key2:'Source Sans Pro', key3:'Fresca');